nav {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	background: rgba(255, 255, 255, .75);
	z-index: 999;

	a {
		display: inline-block;
		text-decoration: none;
		padding: 14px 8px;
		color: black;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: .9em;

		&.active {
			font-weight: bold;
		}

		&:hover,&:focus {
			background-color: #000;
			color: white;
		}
	}
}
